Debug/
bin/

GoogleApiTest/GoogleApiTest/Resources/drawable-xxhdpi/EV_Logo.png

GoogleApiTest/GoogleApiTest/Resources/drawable-xhdpi/EV_Logo.png

GoogleApiTest/GoogleApiTest/Resources/drawable-xxxhdpi/EV_Logo.png

GoogleApiTest/GoogleApiTest/Properties/AndroidManifest.xml

GoogleApiTest/GoogleApiTest.userprefs
GoogleApiTest/GoogleApiTest/Properties/AndroidManifest.xml

GoogleApiTest/GoogleApiTest/Properties/AndroidManifest.xml

GoogleApiTest/GoogleApiTest/Properties/AndroidManifest.xml
